data/sdf/ref_1_single_conf.sdf
argenomic/__pycache__/infrastructure.cpython-36.pyc
argenomic/__pycache__/mechanism.cpython-36.pyc
argenomic/__pycache__/operations.cpython-37.pyc
data/smiles/guacamol_initial_rediscovery_ref_1.smi
argenomic/__pycache__/infrastructure.cpython-36.pyc
argenomic/__pycache__/infrastructure.cpython-37.pyc
argenomic/__pycache__/mechanism.cpython-36.pyc
argenomic/__pycache__/mechanism.cpython-37.pyc
argenomic/__pycache__/operations.cpython-36.pyc
argenomic/__pycache__/operations.cpython-37.pyc
configuration/__pycache__/config.cpython-37.pyc
data/cvt/cache_1_25000.csv
data/cvt/cache_4_25000.csv
tests/__pycache__/__init__.cpython-36.pyc
tests/__pycache__/__init__.cpython-37.pyc
tests/__pycache__/test_infrastructure.cpython-36-pytest-5.4.3.pyc
tests/__pycache__/test_infrastructure.cpython-37-pytest-5.4.3.pyc
tests/__pycache__/test_infrastructure.cpython-37-PYTEST.pyc
tests/__pycache__/test_mechanism.cpython-36-pytest-5.4.3.pyc
tests/__pycache__/test_mechanism.cpython-37-pytest-5.4.3.pyc
tests/__pycache__/test_mechanism.cpython-37-PYTEST.pyc
tests/__pycache__/test_operations.cpython-36-pytest-5.4.3.pyc
tests/__pycache__/test_operations.cpython-37-pytest-5.4.3.pyc
tests/__pycache__/test_operations.cpython-37-PYTEST.pyc
argenomic.simg
